BasedOnStyle: WebKit
IndentWidth: '4'
NamespaceIndentation: All
SortIncludes: 'false'
BreakBeforeBraces: Linux
AlignAfterOpenBracket: AlwaysBreak
ColumnLimit: 0
AlwaysBreakTemplateDeclarations: 'true'
AlwaysBreakAfterReturnType: 'None'
AlignEscapedNewlinesLeft: true
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: true
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
ReflowComments: true
